node_modules/
dist/
dist-ssr/
*.local
*.tsbuildinfo

npm-debug.log*

.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

coverage/
test-results/
playwright-report/
blob-report/
playwright/.cache/
